<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Style css -->
    <link href="../static/css/style.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <section class="flex items-center h-full">
        <div class="container">
            <div class="text-center max-w-2xl mx-auto">

                <img src="../static/image/error-5.png" alt="error-5" class="h-72 mb-5 mx-auto">
                <h1 class="font-bold sm:text-[150px] text-9xl mb-2">404</h1>
                <h3 class="text-gray-800 sm:text-2xl text-xl font-bold mb-4">Opps! Page Not Found</h3>
                <p class="text-gray-700 font-medium leading-relaxed">Oopsie-daisy! The page you requested seems to have taken a vacation. Return to the homepage and continue your journey.</p>
                <div class="mt-8">
                    <form action="/">
                    <button class="border border-black text-black font-medium rounded-full transition-all duration-300 hover:bg-black hover:text-white py-3 px-7">Back to Safety</button>
                    </form>
                </div>

            </div>
        </div>
    </section>

</body>

</html>